*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.gapping {
    margin: 5%;
}

.navTop{
    display: flex;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 2px 2px 20px grey;
    position: fixed;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.navLeft img{
    height: 35px;
    width: 35px;
}

.navRight {
    display: flex;
    gap: 30px;
    align-content: center;
    margin-right: 40px;
}

.navRight a{
    text-decoration: none;
    color: grey;
}

.hrTag{
    margin-left: 3%;
    margin-right: 3%;
}

.banner {
    height: 30px;
    width: 100%;
    background: url("../assests/bannerF.jpg");
    /* background-color: rgb(202, 234, 245); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    line-height: 12px;
    border-bottom: 1px solid rgba(3, 3, 3, 0.3);
    padding: 120px 0;
}

.bannerHeading{
    font-size: 72px;
    font-weight: 700;
    color: navy;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 20px;
}

.desc {
    max-width: 850px;
    font-size: 20px;
    /* font-weight: 500; */
    line-height: 1.7;
    color: rgb(59, 59, 138);
}

.mainContent{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    gap: 20px;
    justify-content: center;             /*Horizontal center*/
    align-items: stretch;                /*Vertical Center*/
    padding: 30px;
}

/* 
.formCon{
    display: flex;
    justify-content: center;            
    align-items: center;                
    padding: 30px;
} */

.form{
    border: 1px solid black;
    border-radius: 18px;
    width: 100%;
    box-shadow: 2px 2px 10px slategrey;
}

.form.active{
    box-shadow: 4px 4px 10px rgb(119, 217, 250);
}

.form h3{
    text-align: center;
    color: navy;
}

.formInner{
    margin: 3%;
}

.input, textarea{
    width: 95%;
    font-size: 10px;
}

.formInner label{
    color: #02102e;
    font-size: small;
    margin-top: 3%;
    margin-bottom: 3%;
}

.formCon, .contact{
    flex: 1;       /*each takes equal space*/
    width: 50%;
}

.btn{
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(12, 130, 240);
    color: white;
    width: 120px;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 2px 2px 8px grey;
}

.btn:hover{
    transform: translateY(-1px);
    box-shadow: 2px 2px 10px darkgray;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.samePart{
    display: flex;
    gap: 12px;
}

.samePart .input{
    width: 88%;
}

.textarea{
    height: 70px;
    width: 95%;
}

.contact{
    height: fit-content;
    width: 100%;
    border: 1px solid black;
    border-radius: 18px;
    background-color: rgb(230, 239, 245);
}

.contact h4{
    margin-left: 5%;
    margin-right: 5%;
    color: #022355;
    font-size: 16px;
}

.contact p{
    margin-left: 5%;
    margin-right: 5%;
    color: #3c69ac;
    font-size: 12px;
}

.faqs{
    margin-left: 3%;
    margin-right: 3%;
}

.faq-item button{
    font-size: 12px;
}

.faq-answer p{
    font-size: 12px;
    color: rgb(59, 59, 138);
}

.faq{
    max-width: 800px;
    margin: 50px auto;
}

.faq-item{
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
}

.faq-question{
    width: 100%;
    padding: 15px;
    border: none;
    background: #f5f5f5;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
}

.faq-answer{
    display: none;
    padding: 15px;
    background: #f5f5f5;
}

.faq-item.active .faq-answer{
    display: block;
}

.footerBG {
    background: url("../assests/footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

.footerContent {
    margin-left: 6%;
    display: flex;
    gap: 120px;
    padding: 20px 0;
}

.iconAndtagline img{
    height: 120px;
    width: 120px;
}

.iconAndtagline h5{
    color: white;
    font-size: small;
}

.helpfulLinks a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.helpfulLinks {
    margin-top: 3%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.helpfulLinks h3{
    font-size: small;
}

#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 12px 16px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #578fe4;
    color: white;
}

.menuIcon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 35px;
    color: grey;
    z-index: 1002;
}

.menuIcon span{
    display: block;
    width: 100%;
    height: 3px;
    background: #314f8b;
    margin: 6px 0;
    transition: .4s;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    display: none;
    z-index: 999;
}

.overlay.show{
    display: block;
}

.menuIcon.active
span:nth-child(1){
    transform: rotate(45deg)translate(7px,6px);
}

.menuIcon.active
span:nth-child(2){
    opacity: 0;
}

.menuIcon.active
span:nth-child(3){
    transform: rotate(-45deg)translate(7px, -6px);
}

@media (max-width: 768px){
    .menuIcon{
        display: block;
        margin-right: 38px;
        width: 30px;
        cursor: pointer;
        z-index: 1002;
    }
    .navRight{
        display: flex;
        position: fixed;
        top: 23px;
        right: -100%;
        width: 30%;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        gap: 20px;
        transition: right 1s ease;
        z-index: 1000;
        list-style: none;
    }
    .navRight li a{
        text-decoration: none;
        color: rgb(79, 79, 199);
    }
    .navRight.active{
        right: 0;
    }
}

@media (max-width: 664px){
    .footerBG{
        height: 100%;
    }
    .footerContent {
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 0;
        margin-left: 25%;
        margin-right: 30%;
        padding: 5%;
        gap: 20px;
    }
}

@media (min-width:390px) and (max-width:640px){
    .bannerHeading{
        font-size: 60px;
    }
    .desc{
        font-size: 18px;
    }
}


@media (max-width:390px){
    .bannerHeading{
        font-size: 40px;
    }
    .desc{
        font-size: 12px;
    }
}

@media (max-width:570px){
    .mainContent{
        flex-direction: column;
    }
    .formCon, .contact{
        width: 100%;
        flex: 100%;
        margin-bottom: 45px;
    }
}