*{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.gapping {
    margin: 5%;
}

.navTop{
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #000928;
}

.navLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoTitle{
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.navLeft img{
    height: 38px;
    width: 38px;
    object-fit: contain;
}

.navRight {
    display: flex;
    gap: 28px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 70px;
}

.navRight li{
    list-style: none;
}

.navRight li button{
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
}

.login, .register {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.login {
    padding: 9px 18px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}

.navRight li a.login{
    color: white;
}

.register {
    padding: 9px 18px;
    background-color: #16c7c1;
    border: 1x solid #16c7c1;
    border-radius: 7px;
}

.navRight li a.register {
    color: #001027 !important;
    font-weight: 600;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.register:hover{
    background-color: #0fb3ae;
}

.navRight a{
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

.navRight a:hover{
    color: #16c7c1;
}

.hrTag{
    margin-left: 3%;
    margin-right: 3%;
}

header{
    margin-top: 10%;
}

header h4{
    margin: 3%;
    color: #2D3748;
}

.firstCon {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 7%;
}

.card {
    width: 180px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 6px;
}

.card p{
    font-size: small;
    color: rgb(59, 59, 138);
}

.card:hover {
    box-shadow: 4px 4px 20px rgb(119, 217, 250);
    transform: translateY(-10px);
    transition: .3s;
}

.card-img {
    height: 120px;
    width: 100%;
    border-radius: 1.1rem;
}

.card h5{
    color: navy;
}

.disclaimer{
    margin: 4%;
    color: red;
    font-size: small;
}

#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 12px 16px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #578fe4;
    color: white;
}

.footerBG {
    background: url("../assests/footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.footerContent {
    margin-left: 6%;
    display: flex;
    gap: 15%;
    padding: 20px 0;
}

.iconAndtagline img{
    height: 120px;
    width: 120px;
}

.iconAndtagline h5{
    color: white;
    font-size: small;
}

.helpfulLinks a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.helpfulLinks {
    margin-top: 3%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.helpfulLinks h3{
    font-size: small;
}

.copyright{
    height: 20%;
    text-align: center;
    color: white;
    font-size: small;
    margin-bottom: 24px;
    /* margin: 0; */
}

.menuIcon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 35px;
    color: grey;
    z-index: 1002;
}

.menuIcon span{
    display: block;
    width: 100%;
    height: 3px;
    background: #314f8b;
    margin: 6px 0;
    transition: .4s;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.45);
    display: none;
    z-index: 999;
}

.overlay.show{
    display: block;
}

.menuIcon.active
span:nth-child(1){
    transform: rotate(45deg)translate(7px,6px);
}

.menuIcon.active
span:nth-child(2){
    opacity: 0;
}

.menuIcon.active
span:nth-child(3){
    transform: rotate(-45deg)translate(7px, -6px);
}

@media (max-width: 768px){
    .menuIcon{
        display: block;
        margin-right: 70px;
        width: 30px;
        cursor: pointer;
        z-index: 1100;
    }
    .navRight{
        display: flex;
        position: fixed;
        top: 72px;
        right: -330px;
        width: 240px;
        height: 100vh;
        background: #000928;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 35px 25px;
        box-shadow: -5px 5px 25px rgba(0,0,0,0.3);
        gap: 25px;
        transition: right 1s ease;
        z-index: 999;
        list-style: none;
    }
    .navRight li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navRight a{
        font-size: 17px;
        text-decoration: none;
        color: white;
    }
    .navRight.active{
        right: 0;
    }
    .navRight .login, .navRight .register{
        width: 130px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 664px){
    .copyright{
        margin: 0;
    }
    .footerBG{
        height: 100%;
    }
    .footerContent {
        margin-left: 6%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px 0;
        margin-left: 25%;
        margin-right: 30%;
        padding: 5%;
    }
    .helpfulLinks, .iconAndtagline {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    .iconAndtagline h5{
        margin-bottom: 6px;
    }
}

@media (max-width:768px){
    header{
        margin-top: 20%;
    }
    .firstCon{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }
    .disclaimer{
        font-size: x-small;
    }
}