<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/services.css">
    <link rel="icon" href="assests/logo.png">
    <title>Services | IntelliPhoenix</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navTop">
        <div class="navLeft">
            <img src="assests/logo.png">
        </div>
        <div class="menuIcon" id="menuIcon">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="navRight">
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="services.html">Services</a>
            <a href="contact.html">Contact</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
        </ul>
    </nav>

    <div class="overlay" id="overlay"></div>

    <button id="topBtn">&uparrow;</button>

    <header>
        <h4>Our Services</h4>
    </header>

    <div class="gapping"></div>
    <div class="hrTag"><hr></div>
    <div class="gapping"></div>

    <main class="mainContent">
        <section class="firstCon">
            <div class="card">
                <img src="assests/symptoms.jpg" class="card-img">
                <hr>
                <h5>AI Symptom Analysis</h5>
                <p>Describe your symptoms and receive AI-assisted health insights.</p>
            </div>
            <div class="card">
                <img src="assests/specialist.jpg" class="card-img">
                <hr>
                <h5>Doctor Recommendation</h5>
                <p>Find the most suitable specialist based on your symptoms.</p>
            </div>
            <div class="card">
                <img src="assests/bookappoint.jpg" class="card-img">
                <hr>
                <h5>Appointment Booking</h5>
                <p>Book appointments with specialists in just a few clicks.</p>
            </div>
            <div class="card">
                <img src="assests/report.jpg" class="card-img">
                <hr>
                <h5>Digital Health Reports</h5>
                <p>Access and manage your reports securely.</p>
            </div>
        </section>
        <br>
        <section class="firstCon">
            <div class="card">
                <img src="assests/health.jpg" class="card-img">
                <hr>
                <h5>Health Dashboard</h5>
                <p>Track appointments and reports from one place.</p>
            </div>
            <div class="card">
                <img src="assests/assistanceai.jpg" class="card-img">
                <hr>
                <h5>AI Health Assistance</h5>
                <p>Get answers to general healthcare questions.</p>
            </div>
            <div class="card">
                <img src="assests/notification.jpg" class="card-img">
                <hr>
                <h5>In App Notification</h5>
                <p>Notification about appoitment in App.</p>
            </div>
            <div class="card">
                <img src="assests/emergency.jpg" class="card-img">
                <hr>
                <h5>Emergency Support</h5>
                <p>Quick access to Emergency contacts.</p>
            </div>
        </section>
    </main>

    <div class="gapping"></div>
    <div class="hrTag"><hr></div>
    <div class="gapping"></div>

    <div class="disclaimer">
        &ast; Disclaimer: The AI responses generated by the system are informational only 
            and do not replace professional medical diagnosis or consultation.
    </div>

    <footer class="footerBG">
        <div class="footerContent">
            <section class="iconAndtagline">
                <img src="assests/logo.png">
                <h5>Where Intelligence <br>Inspires Recovery</h5>
            </section>
            <section class="helpfulLinks">
                <h3>HELPFUL LINKS</h3>
                <a href="about.html">&gt; &nbsp; About</a>
                <a href="services.html">&gt; &nbsp; Services</a>
                <a href="privacy.html">&gt; &nbsp; Privacy Policy</a>
                <a href="terms.html">&gt; &nbsp; Terms &amp; Conditions</a>
            </section>
            <section class="helpfulLinks">
                <h3>CONNECT WITH US</h3>
                <a href="/">Contact <i class="fa-solid fa-circle-user"></i></a>
                <a href="/">Facebook <i class="fa-brands fa-facebook"></i></a>
                <a href="/">Instagram <i class="fa-brands fa-instagram"></i></a>
                <a href="/">Twitter <i class="fa-brands fa-square-x-twitter"></i></a>
                <a href="/">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
            </section>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2026</p>
            <pre>   </pre>
        </div>
    </footer>

    <script src="js/services.js"></script>
</body>
</html>